section {
  margin: auto;
  display: flex;
  justify-content: center;
  flex: 1;
}

article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

img {
  width: 20%;
}

p {
  width: 30%;
}
